<ion-header>

  <ion-navbar>
    <ion-title>{{quoteGroup?.category | uppercase}}</ion-title>
  </ion-navbar>

</ion-header>



<ion-content padding>
  <ion-card *ngFor="let quote of quoteGroup?.quotes; let i = index">
    <ion-card-header>
      #{{i +1}}
    </ion-card-header>
    <ion-card-content>
      <p>
        {{quote?.text}}
      </p>
      <p class="author">
        {{quote?.person}}
      </p>
    </ion-card-content>
    <ion-row>
      <ion-col text-right>
        <button ion-button clear small *ngIf="!isFavorite(quote)"
        (click)="onAddToFavorite(quote)">
          Faborite
        </button>
        <button ion-button clear small color="danger" *ngIf="isFavorite(quote)"
        (click)="onRemoveFromFavorite(quote)">
          Unfaborite
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
