<ion-header>

  <ion-navbar>

    <ion-buttons>
      <button ion-button (click)="onOpenMenu()">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>favorites</ion-title>

  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>

    <ion-item-sliding *ngFor="let quote of quotes">

      <ion-item color="quoteBackground" [ngClass]="{alt: isAltBackground()}" (click)="onViewQuote(quote)">
        <h2>{{ quote.person }}</h2>
        <p>{{ quote.text }}</p>
      </ion-item>

      <ion-item-options>
        <button ion-button color="danger" (click)="onRemoveFromFavorites(quote)">
        <ion-icon name="trash"></ion-icon>
        Delete
      </button>
        <button ion-button color="primary">
        <ion-icon name="star"></ion-icon>
        Details
      </button>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>
</ion-content>