<ion-header>
  <ion-navbar>
    <ion-title>
      Buyout
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Your Order</h2>
  <p>Name: {{productData.name}}</p>
  <p>Quantity: {{productData.quantity}}</p>
  <button ion-button (click)="onConfirmPurchase()">Confirm Purchase</button>

</ion-content>
