<ion-header>

  <ion-navbar>
    <ion-title>The Users</ion-title>
  </ion-navbar>

</ion-header>




<ion-content padding>

  <button ion-button (click)="onLoadUser('Max')">User 'Max'</button>
  <hr/>
  <button ion-button (click)="onLoadUser('Anna')">User 'Anna'</button>
  <hr/>
  <button ion-button (click)="onGoToShop()"> Go To Buyout </button>
  <hr/>
  <button ion-button navPop> Go Back </button>

</ion-content>




<ion-footer padding>
  <p>The Footer</p>
</ion-footer>
