<ion-header>

  <ion-navbar>

    <ion-buttons start>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Grids</ion-title>

  </ion-navbar>

</ion-header>


<ion-content class="page-favorites">

  <ion-grid>
    <ion-row>
      <ion-col>
        A column 480 X 800
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

