<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic 2 Basic
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button (click)="onGoToUsers()">Users1</button>
  <!--<button ion-button [navPush]="usersPage">Users</button>-->
</ion-content>
