<ion-header>
  <ion-navbar>
    <ion-title>
      Shop
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button (click)="onBuy({name: 'Milk', quantity: 2})">Milk</button>
  <button ion-button (click)="onBuy({name: 'Bread', quantity: 1})">Bread</button>
  <button ion-button (click)="onBuy({name: 'Apples', quantity: 10})">Apples</button>
</ion-content>
